<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Park</title>
</head>
<body>
<h1>Confirmation réservation</h1>
<p>Votre réservation a été bien crée . Merci pour votre confiance</p>

</body>
</html>