{% extends 'basebr.html.twig' %}
{% block title %}

    <div class="chit-chat-heading">
        Ajouter des Categories

    </div>

{{ form(formCategorie, {'attr': {'novalidate':'novalidate'} })  }}
{% endblock %}