{% extends 'basebr.html.twig' %}
{% block title %}

    <div class="chit-chat-heading">
        Ajouter des Plats

    </div>

    {{ form(formPlat, {'attr': {'novalidate':'novalidate'} })  }}
{% endblock %}