{#<!doctype html>
<html lang="en">
<head>
 {#  <link rel="stylesheet" href="ticket.css" />
</head>
<body>

<div>
 <div> <h1 style="color: #0c5460">Confirmation Reservation</h1> <br><p>nbr: {{ reservation.nbrp }}</p>
  <p>Film: {{ reservation.num}}</p> <p>Message: </p>
  </div>
</div>#}
<h1 style="font-family: Georgia, serif; size: 11px">Je voudrais vous remercier de la confiance que vous avez témoignée en choissisant notre park HAPPY PARK . vous trouverez ci-joint votre ticket <h1></h1>
<div style="width: 27em;margin: 3em auto;color: #fff; font-family: sans-serif;">
    <div style="  background: linear-gradient(to bottom,#e84c3d 0%,#e84c3d 26%,#ecedef 26%, #ecedef 100%);height: 11em;float: left;position: relative;padding: 1em; margin-top: 100px;  width: 6.5em; border-top-left-radius: 8px; border-bottom-left-radius: 8px; width: 16em; ">
        <h1 style="font-size: 1.1em; margin-top: 0;">
            Happy Park
            <span style="font-size: .7em; color: #a2aeae;">
    Cinema           </span></h1>

        <div style="text-transform: uppercase; font-weight: normal;">
            <h2 style="font-size: .9em; color: #525252; margin: 0;">
                {{ reservation.film}}</h2>
            <span style="font-size: .7em; color: #a2aeae;">
    Film         </span>
        </div>

        <div style="text-transform: uppercase; font-weight: normal;">
            <h2 style="font-size: .9em; color: #525252; margin: 0;">
                Maha Segni </h2>
            <span style="font-size: .7em; color: #a2aeae;">
    nom  prénom </span>
        </div>
    </div>


    <div style=" background: linear-gradient(to bottom,#e84c3d 0%,#e84c3d 26%,#ecedef 26%, #ecedef 100%);height: 11em;float: left;position: relative;padding: 1em; margin-top: 100px; border-top-right-radius: 8px; border-bottom-right-radius: 8px;
    width: 6.5em;
  border-left: .18em dashed #fff;
 ">
        <div><h2 style="font-size: .9em; color: #525252; margin: 0;">QR Code </h2></div>
        <div>

        </div>
    </div>
</div>

{#</body>
</html>#}


